*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4;
    background: #F9F9F9;
    overflow-x: hidden;
    background: linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(103, 81, 215, 1) 100%);
  }
  
  .contact-container{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-inner-container{
    padding: 0px;
    width: 96%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: lightsteelblue; */
    background: #7058eb;
    border-radius: 30px;
  }
  
  .contact-info-container{
    width: 50%;
    text-align: left;
    padding: 50px;
    /* background: #7925C7; */
    background: rgb(182, 209, 245);
    border-radius: 20px;
  }
  
  .contact-form{
    width: 50%;
    /* background: lightsteelblue; */
    background: #7058eb;
    padding: 50px;
    border-radius: 0px 4px 4px 0px;
  }
  
  .contact-heading{
    font-family: inherit;
    font-size: 4rem;
    font-weight: 700 !important;
    line-height: 4rem;
    color: #7058eb;
  }
  
  .contact-description{
    font-family: inherit;
    font-weight: 700;
    color: #7058eb;
    line-height: 1.6rem;
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .line{
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background: #7058eb;
    margin: 24px 0px;
  }
  
  .contact-details{
    padding-top: 24px;
  }
  
  .contact-details h3{
    font-weight: 600;
    color: #7058eb;
  }
  
  .contact-details p{
    color: rgb(12, 11, 11);
    font-weight: 500;
    margin-bottom: 6px;
  }
  
  .social-link-container{
    display: flex;
    margin-top: 30px;
  }
  
  .social-link-container .fa{
    margin-right: 20px;
    cursor: pointer;
    color: #7058eb;
    transition: all 0.2s;
  }
  
  .social-link-container .fa:hover, .submit-btn:hover{
    transform: translateY(-4px);
  }
  
  .form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-group{
    width: 100%;
    text-align: left;
    margin-top: 2px;
  }
  
  .form-group:not(:last-child){
    margin-bottom: 1rem;
  }
  
  .input-field{
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 18px;
    background: #F2F2F2;
  }
  
  .form-input{
    height: auto;
  }
  
  .form-group textarea{
    height: 200px;
  }
  
  .submit-btn{
    padding: 1rem 2.4rem;
    font-weight: 700;
    text-align: center;
    color: #7058eb;
    background: lightsteelblue;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s;
  }
  